@model IEnumerable<dynamic>
<div class="py-2 d-flex align-items-center justify-content-between">
    <h1 class="mb-0 fs-4 fw-bolder">信用狀清冊</h1>
</div>
<div class="card">
    <div class="card-body bg-light">
        <div class="table-responsive">
            <table class="mb-0 table table-striped table-sm hnb__table hnb__bg--white">
                <thead>
                    <tr>
                        <th scope="col" class="hnb__tbhd">信用狀號碼</th>
                        <th scope="col" class="hnb__tbhd">開狀銀行</th>
                        <th scope="col" class="hnb__tbhd">開狀日期</th>
                        <th scope="col" class="hnb__tbhd">總金額</th>
                        <th scope="col" class="hnb__tbhd">可用餘額</th>
                        <th scope="col" class="hnb__tbhd">受益人統編</th>
                        <th scope="col" class="hnb__tbhd">狀態</th>
                        <th scope="col" class="hnb__tbhd">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center text-nowrap">
                                <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal"
                                   onclick="changeLcType('即期')">@item.LcNo</a>
                            </td>
                            <td class="text-center text-nowrap">@item.Bank</td>
                            <td class="text-center">@item.Date</td>
                            <td class="text-end text-nowrap">@item.Amount</td>
                            <td class="text-end text-nowrap">@item.Balance</td>
                            <td class="text-center text-nowrap">@item.BeneNo</td>
                            <td class="text-center text-nowrap">@item.Status</td>
                            <td class="text-center">
                                <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--default text-nowrap"
                                        onclick="editHandler()">
                                    填寫修改申請書
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@{
    // 假設有一個 PagingViewModel 物件，命名為 pagingModel
    var pagingModel = new WebHome.Models.PagingViewModel
    {
        PageIndex = 1, // TODO: 改為實際頁數
        PageSize = 10, // TODO: 改為實際每頁筆數
        TotalCount = 3456, // TODO: 改為實際總筆數
        TotalAmount = 522664, // TODO: 改為實際總金額
        PageAction = "goToPage", // TODO: 實作 goToPage JS function
        PageParam = "" // TODO: 傳遞查詢參數
    };
}
@await Html.PartialAsync("~/Views/Shared/_PagingControl.cshtml", pagingModel)